page-selectservice {
  width: 99%
}
form{
  margin-bottom: 15px;
}
.service-select{
  width: 96.3%;
}
.month-select{
  width: 32%;
}
.day-select{
  width: 32%;
}
.year-select{
  width: 32%;
}
.time{
  width: 32%
}
input{
  margin-left:  8px;
  margin-bottom:  8px;
}

.findavailable{
  width: 96.3%;
  background-color: lightblue;
  font-size: 13pt;
  border-radius: 8px;
}
.locationCaptured{
  color: green;
  margin-left: 8px;
}

.wrongAddress {
  color: red;
  margin-left: 8px;
}

.page {
  $text-input-md-margin-right: 100%;
}
