
<ion-header>

<ion-header>


  <ion-navbar>
    <ion-title>Booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page" padding>
   <form [formGroup]="bookInfo">
   <h4>Manicure, Pedicure, or Both?</h4>
   <ion-row>
     <ion-item>
       <ion-label floating></ion-label>
     	  <ion-select placeholder="Select Services" formControlName="service">
     	  	<ion-option value="Manicure">Manicure $18</ion-option>
     	  	<ion-option value="Pedicure">Pedicure $25</ion-option>
     	  	<ion-option value="Mani-Pedi">Mani-Pedi $35 </ion-option>
     	  </ion-select>
     </ion-item>
     <ion-item class="service-check">
       <ion-label floating></ion-label>
        <ion-select placeholder="Add Ons" formControlName="addOns" multiple="true">
          <ion-option name="addon" value="scrub"> Sea Salt Scrub $5</ion-option>
          <ion-option name="addon" value="nailart"> Nail Art $5</ion-option>
          <ion-option name="addon" value="reflexology"> Reflexology Massage $10</ion-option>
          <ion-option name="addon" value="gel"> Gel Polish $5</ion-option>
          <ion-option name="addon" value="acrylic"> Acrylics $10</ion-option>
          <ion-option name="addon" value="parrafin"> Lavender Parrafin $10</ion-option>
        </ion-select>
     </ion-item>
   </ion-row>
   <!-- <h4>Where is most convenient for you?</h4> -->
   <ion-row>

    <ion-col width-40><button ion-button full (click) = "enterAddress()">Enter Address</button></ion-col>
    <ion-col width-40><button ion-button full (click) = "geoLocate()">Use My Location</button></ion-col>
   </ion-row>
   <ion-row *ngIf="geolocationFlag === true" class="locationCaptured" icon-right> 
     Your location has been captured
     <ion-icon name="checkmark"></ion-icon>
   </ion-row>
   <ion-row *ngIf="noAddress === true" icon-right class="wrongAddress">
     Address not found, please enter a new address.
     <ion-icon name="close-circle"></ion-icon>
   </ion-row>
   <ion-row  *ngIf="addressFlag === true">
     <ion-col>
       <ion-item>
         <ion-label floating></ion-label>
        <ion-input placeholder="###" formControlName="houseNumber"></ion-input>
       </ion-item>
     </ion-col>
     <ion-col>
       <ion-item>
         <ion-label floating></ion-label>
         <ion-input placeholder="Unit" formControlName="unitNumber"></ion-input>
       </ion-item>
     </ion-col>
     <ion-col>
       <ion-item>
         <ion-label floating></ion-label>
         <ion-input  placeholder="Street"  formControlName="street"></ion-input>
       </ion-item>
     </ion-col>
  </ion-row>
  <ion-row *ngIf="addressFlag === true">
    <ion-item>
      <ion-input placeholder= "City" formControlName="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder= "State" formControlName="state"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder= "Zip" formControlName="zipCode"></ion-input>
    </ion-item>
  </ion-row>
  <h4>When would you like your nails done?</h4>
  <ion-row>
     <ion-item>
        <ion-label> <ion-icon name="calendar"></ion-icon>  Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
     </ion-item>
     <ion-item>
        <ion-label><ion-icon name="time"></ion-icon>  Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="time"></ion-datetime>
     </ion-item>
   </ion-row>
   <!-- <h4>Pick the most convenient date & time: </h4>
   <form>
      <select class="month-select">
        <option value="month">January</option>
        <option value="month">February</option>
        <option value="month">March</option>
        <option value="month">April</option>
        <option value="month">May</option>
        <option value="month">June</option>
        <option value="month">July</option>
        <option value="month">August</option>
        <option value="month">September</option>
        <option value="month">October</option>
        <option value="month">November</option>
        <option value="month">December</option>
      </select>
      <select class="day-select">
      	<option value="day">1</option>
      	<option value="day">2</option>
      	<option value="day">3</option>
      	<option value="day">4</option>
      	<option value="day">5</option>
      	<option value="day">6</option>
      	<option value="day">7</option>
      	<option value="day">8</option>
      	<option value="day">9</option>
      	<option value="day">10</option>
      	<option value="day">11</option>
      	<option value="day">12</option>
      	<option value="day">13</option>
      	<option value="day">14</option>
      	<option value="day">15</option>
      	<option value="day">16</option>
      	<option value="day">17</option>
      	<option value="day">18</option>
      	<option value="day">19</option>
      	<option value="day">20</option>
      	<option value="day">21</option>
      	<option value="day">22</option>
      	<option value="day">23</option>
      	<option value="day">24</option>
      	<option value="day">25</option>
      	<option value="day">26</option>
      	<option value="day">27</option>
      	<option value="day">28</option>
      	<option value="day">29</option>
      	<option value="day">30</option>
      	<option value="day">31</option>
      </select>
      <select class="year-select">
      	<option value="year">2016</option>
      	<option value="year">2017</option>
      	<option value="year">2018</option>
      </select>
   </form> -->
   <!-- <form>
   	<select class="time">
   		<option value="hour">1</option>
   		<option value="hour">2</option>
   		<option value="hour">3</option>
   		<option value="hour">4</option>
   		<option value="hour">5</option>
   		<option value="hour">6</option>
   		<option value="hour">7</option>
   		<option value="hour">8</option>
   		<option value="hour">9</option>
   		<option value="hour">10</option>
   		<option value="hour">11</option>
   		<option value="hour">12</option>
   	</select>
   	<select class="time">
      	<option value="minutes">01</option>
      	<option value="minutes">02</option>
      	<option value="minutes">03</option>
      	<option value="minutes">04</option>
      	<option value="minutes">05</option>
      	<option value="minutes">06</option>
      	<option value="minutes">07</option>
      	<option value="minutes">08</option>
      	<option value="minutes">09</option>
      	<option value="minutes">10</option>
      	<option value="minutes">11</option>
      	<option value="minutes">12</option>
      	<option value="minutes">13</option>
      	<option value="minutes">14</option>
      	<option value="minutes">15</option>
      	<option value="minutes">16</option>
      	<option value="minutes">17</option>
      	<option value="minutes">18</option>
      	<option value="minutes">19</option>
      	<option value="minutes">20</option>
      	<option value="minutes">21</option>
      	<option value="minutes">22</option>
      	<option value="minutes">23</option>
      	<option value="minutes">24</option>
      	<option value="minutes">25</option>
      	<option value="minutes">26</option>
      	<option value="minutes">27</option>
      	<option value="minutes">28</option>
      	<option value="minutes">29</option>
      	<option value="minutes">30</option>
      	<option value="minutes">31</option>
      </select>
      <select  class="time">
      	<option>am</option>
      	<option>pm</option>
      </select>
   </form> -->
   </form>
   <button ion-button full (click) = "navigate()">Find Next Available</button>
</ion-content>
