<!--
  Generated template for the Nailartistpage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page" padding>
  
  <div class="basicSect">
    <ion-row class="basicSect">
    <img class="profilePic" src="{{ nailArtistInfo.profile_image_url }}">
    <div class="profBasic">
      <h2 class="profBasicHead"> {{ nailArtistInfo.firstName }} {{ nailArtistInfo.lastName }} </h2>
      <rating [(ngModel)]="nailArtistInfo.general_rating" id="rating" readOnly="true"></rating>
      <button ion-button small item-bottom icon-left  (click)="confirmBooking(nailArtistInfo)">
        <ion-icon name="book"></ion-icon>
        Book
      </button>
    </div>
    </ion-row>
  </div>


  <div class="profSect">
      <h1><b> Pictures</b></h1>
    <div *ngIf="reviewFlag===true" class="profSect">
      <ion-slides  #mySlider [options]="mySlideOptions">
        <ion-slide *ngFor="let photo of nailArtistReviews">
          <img src="{{ photo.image1 }}">
        </ion-slide>
      </ion-slides>
    </div>
    <div  *ngIf="reviewFlag===false">
      <h2> No images submitted </h2>
    </div>
  </div>

  <div class="profSect">
    <h1> <b>Reviews</b> </h1>
    <div  *ngIf="reviewFlag===true">
    <ion-item  class="profSect" *ngFor="let reviewer of nailArtistReviews" text-wrap>
      <ion-thumbnail item-left>
        <img src="{{ reviewer.reviewer_profile_pic }}" id="itemPic">
        <h3> <b>{{ reviewer.reviewer_first }}</b> </h3>
      </ion-thumbnail>
      <rating [(ngModel)]="reviewer.rating" id="rating" readOnly="true"></rating>
      <p>
        {{ reviewer.review_content }}
      </p>
    </ion-item>
    </div>
     <div  *ngIf="reviewFlag===false">
      <h2> Be the first to review </h2>
    </div>
  </div>
</ion-content>
