.ios, .md {

.logItem{
    background-color: rgba(0, 0, 0, 0);
}

    page-login {
        .page {
            font-family: 'Lato', sans-serif;
            text-decoration: none;
        }
 
        p {
            font-size: 0.8em;
            color: #d2d2d2;
        }
 
        .swiper-slide {
            display: block;
        }
 
        ion-label, .select-text {
            margin-left: 10px;
            color: black;
        }
 
        ion-input, ion-select, ion-textarea {
            background-color: rgba(255, 255, 255, 0.4);
            padding: 5px 10px;
            margin-left: -5px;
            color: black;
        }
 
        .invalid {
            border: 1px solid #ea6153;
        }
 
    }
 
}

.logForm{
    margin-top: 100px;
    border-radius: 10pt;
}

ion-input{
    margin-bottom:  20px;
}


.beige{
  background-image:url('https://drscdn.500px.org/photo/143684555/q%3D80_m%3D1500/6a5283fe2531cd93362d39029ac9bd1d');
  background-position: center;
 
}

