<ion-header>
    <h1 class="polished">Polished</h1>
</ion-header>

<ion-content class="beige">
    <br>
 
    <ion-list no-lines>
 
        <form class="logForm" [formGroup]="loginForm">
 
            <ion-item class="logItem">
                <ion-label floating></ion-label>
                <ion-input  formControlName="userName" type="text" placeholder="Username"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="loginForm.controls.userName.pending">
                <p>Checking username...</p>
            </ion-item>
 
            <ion-item *ngIf="!loginForm.controls.userName.valid && !loginForm.controls.userName.pending && (loginForm.controls.userName.dirty || submitAttempt)">
                <p>Sorry, that username can not be used!</p>
            </ion-item>
 
            <ion-item class="logItem">
              <ion-label floating></ion-label>
              <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
         <button class="loginBut" ion-button small color="primary" (click)="addLogin()">Login!</button><br><br>
        </form>
 
    </ion-list>

 

<p class="sign">First time here? <a id="link-6" (click)="goToSignUp()" ng-href="#">Register.</a></p>

</ion-content>