<ion-header>
    <ion-navbar color="primary">
      <ion-title>
       Login
      </ion-title>
     
    </ion-navbar>
</ion-header>
 
<ion-content>

    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
 
    <ion-list no-lines>
 
        <form [formGroup]="loginForm">
 
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input [class.invalid]="!loginForm.controls.userName.valid && (loginForm.controls.userName.dirty || submitAttempt)" formControlName="userName" type="text"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="loginForm.controls.userName.pending">
                <p>Checking username...</p>
            </ion-item>
 
            <ion-item *ngIf="!loginForm.controls.userName.valid && !loginForm.controls.userName.pending && (loginForm.controls.userName.dirty || submitAttempt)">
                <p>Sorry, that username can not be used!</p>
            </ion-item>
 
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
         
        </form>
 
    </ion-list>
 <button ion-button outline color="primary" (click)="addLogin()">Login!</button>

 <br><br>
  <button ion-button outline color="primary" (click)="logout()">Logout!</button>

 <!--<p>or login with </p>
 <div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="false" data-auto-logout-link="true"></div>
 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1618465931792337";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->

 
</ion-content>