page-nailtechdashboard {
  width: 99%;
}
.apptSection{
  background-color: rgba(255,255,255, .98);
  padding-top: 10px;
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
}
.appt{
	margin-right: 10px;
}
.dashSection{
  background-color: rgba(255,255,255, .98);
  padding-top: 10px;
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
  margin-bottom: 20px;
}
.directBut{
  margin-left: 200px;
  border-radius: 5pt;
  border-color: #3C94CF;
  color:  #3C94CF;
}
.page {
  font-family: 'Lato', sans-serif;
}
.appointmentItem  {
  background-color: rgba(0,0,0,0);
  padding-bottom: 10pt;
  padding-right: 10px;
}
.apptHead{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  background-color: rgba(255, 248, 168, .9);
  margin-bottom: -1px;
}
.chartHead{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  background-color: rgba(255, 248, 168, .9);
  margin-bottom: -1px;
  color: black;
}
.dashBut{
  background-color: rgba(255, 248, 168, .9);
  border-radius: 10pt;
  color: black;
}