page-nailtechdashboard {
  width: 99%;
}
.appt{
  margin-right: 7px;
}
.dashSection{
  margin-top: 15px;
}
.directBut{
  position: absolute;
  float: right;
  margin-left: 200px;
}
.page {
  font-family: 'Lato', sans-serif;
}
