page-payment {
    .page {
            font-family: 'Lato', sans-serif;
        }
}

.total{
	background-color: rgba(255,255,255,.9);
}
#checkout{
	padding-top: 10px;
	border-radius: 10pt;
	background-color: rgba(255,255,255,.9);
}