page-searchmore {

}
#itemPic {
    border-radius: 100%;
}

ul {
  padding: 0px;
  margin: 0 0 0 0;

  &.rating li {
    padding: 0px;
    background: none;
    color: #ffb400;
    
    ion-icon {
      font-size: 20px;
      padding: 0;
    }
  }
}

#rating li{
    padding: 5px;
}

// #card {
//   margin-left: -5px;
//   // margin-right: -10px;
//   width: 305px;
// }