<!--
  Generated template for the Review page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>
    Review {{ data.nail_artist_first }} {{ data.nail_artist_second }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="page" padding>
  <div class="basicSect">
    <ion-row class="basicSect">
    <img class="profilePic" src="{{ data.nail_artist_image }}" onresize="">
   <!--  <h2> <b>{{ data.nail_artist_first }} {{ data.nail_artist_second }}</b> </h2> -->
    <!--  <ion-title>
      Your Rating: {{ rating }}
    </ion-title> -->
    <ion-col>
      <ion-card-content text-wrap>
        <b>Overall, how would you rate your experience with {{ data.nail_artist_first }}?</b>
      </ion-card-content>
      <ion-item>
        <rating [(ngModel)]="rating" id="rating"></rating>
      </ion-item>
    </ion-col>
    </ion-row>
    
  </div>

<!--   <div class="profSect">
    <ion-title>
      Your Rating: {{ rating }}
    </ion-title>
    <ion-card-content text-wrap>
      <b>Overall, how would you rate your experience with {{ data.nail_artist_first }}?</b>
    </ion-card-content>
    <ion-item>
      <rating [(ngModel)]="rating" id="rating"></rating>
    </ion-item>
  </div> -->

  <div class="profSect">
    <ion-title>
      Picture
    </ion-title>
    <ion-card-content text-wrap>
      <b>Please attach a review picture of the service provided.</b>
    </ion-card-content>
      <ion-row>
        <ion-col width-35>
          <button ion-button block (click)="takePhoto()" icon-right small>
            Photo
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col width-35>
          <button ion-button block (click)="accessGallery()" icon-right small>
            Open Gallery
            <ion-icon name="photos"></ion-icon>
          </button>
        </ion-col>
      </ion-row>


      <ion-item>
        <video *ngIf="vidFlag" #video width="100%" height="100%" autoplay></video>
        <img [src]="imageUrl" *ngIf="imageUrl">
        <canvas id="canvas" *ngIf="vidFlag"></canvas>
      </ion-item>

      <ion-item>
        <!--<img [src]="imageUrl" *ngIf="imageUrl">-->
      <button *ngIf="buttonFlag && usedTakePicButton" ion-button small id="startbutton" (click)="takepicture()" item-left>Take photo</button>
      <button *ngIf="buttonFlag && tookPhoto" ion-button small (click)="saveImage(imageUrl)" item-right>Use Photo</button>
      <button *ngIf="buttonFlag && tookPhoto" ion-button small (click)="clearImage()" item-right>Clear Photo</button>
        <ion-row *ngIf="readyMark" class="locationCaptured" icon-right> 
          Your photo is ready!
        <ion-icon name="checkmark"></ion-icon>
        </ion-row>
      </ion-item>

  </div>

  <div class="profSect">
    <ion-title>
      Review Comment
    </ion-title>
    <ion-card-content text-wrap>
      <b>Describe your experience with {{ data.nail_artist_first }}. Please pay special attention to the quality of the nail service as well as customer service.</b>
    </ion-card-content>
    <ion-item>
      <ion-textarea rows="8" placeholder="Fill description of experience." [(ngModel)]="review_content">
      </ion-textarea>
    </ion-item>
  </div>
  <button ion-button medium (click)="submitReview({rating: rating, image1: cloudinaryUrl, review_content: review_content})">Submit Review</button>
</ion-content>
