.ios, .md {
 
    page-signup {
        .page {
            font-family: 'Lato', sans-serif;
        }
 
        p {
            font-size: 0.8em;
            color: #d2d2d2;
        }
 
        .swiper-slide {
            display: block;
        }
 
        ion-label, .select-text {
            margin-left: 10px;
        }
 
        ion-input, ion-select, ion-textarea {
            background-color: rgba(255, 248, 168, 1);
            padding: 5px 10px;
        }
 
        .invalid {
            border: 1px solid #ea6153;
        }
 
    }
 
}
.signForm{
    background-color: rgba(0,0,0,.6);
    margin: 10px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10pt;

}

.signItem{
  background-color: rgba(0,0,0,0);
  margin-top: -5px;
}

.toggleLab{
    color: white;
    font-style: bold;
    border-radius: 10pt;
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    margin-left: 20px;
}

.signBut{
    background-color: #3C94CF;
    border-radius: 10pt;
    
}