<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Sign Up
      </ion-title>
     
    </ion-navbar>
</ion-header>
 
<ion-content>
 
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
 
    <ion-list no-lines>
 
        <form [formGroup]="signupForm">
 
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input formControlName="firstName" type="text" [class.invalid]="!signupForm.controls.firstName.valid && (signupForm.controls.firstName.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty || submitAttempt)">
                <p>Please enter a valid name.</p>
            </ion-item>
 
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input formControlName="lastName" type="text" [class.invalid]="!signupForm.controls.lastName.valid && (signupForm.controls.email.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty || submitAttempt)">
                <p>Please enter a valid name.</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input [class.invalid]="!signupForm.controls.userName.valid && (signupForm.controls.userName.dirty || submitAttempt)" formControlName="userName" type="text"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="signupForm.controls.userName.pending">
                <p>Checking username...</p>
            </ion-item>
 
            <ion-item *ngIf="!signupForm.controls.userName.valid && !signupForm.controls.userName.pending && (signupForm.controls.userName.dirty || submitAttempt)">
                <p>Sorry, that username can not be used!</p>
            </ion-item>
 
            
 
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <!--<ion-item>
              <ion-label floating>Confirm Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>-->
            <!--<ion-item>
                <ion-label floating>Sign up as a Nail Artist?</ion-label>
                <ion-select [class.invalid]="!signupForm.controls.isVendor.valid && (signupForm.controls.isVendor.dirty || submitAttempt)" formControlName="isVendor">
                    <ion-option value="0" checked="true">No, thanks</ion-option>
                    <ion-option value="1">Yes!</ion-option>
                </ion-select>
            </ion-item>-->
            <ion-item>
                <ion-label>Sign up as a Nail Artist?</ion-label>
                <ion-toggle formControlName="isVendor" color="energized" checked="true"></ion-toggle>
                <!--<ion-option value="1" checked="true"></ion-option>
                <ion-option value="0" checked="false"></ion-option>-->
            </ion-item>
            <ion-item>
              <ion-label floating>License Number</ion-label>
              <ion-input formControlName="nailCertification" type="text"></ion-input>
            </ion-item>
 
            
 
        </form>
 
    </ion-list>
 <button ion-button outline color="primary" (click)="addSignup()">Create Account!</button>

 
  
    
</ion-content>